/** CSS STYLE **/

/* VAR START */
:root {
  /* colors */
  --white: #fff;
  --transparent-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --secondary: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;

  /* fonts */
  --main-font: "Open Sans";
  --heading-font: "Neucha";
  --font-size: 16px;
  --font-line-height: 1.6em;
  --font-color: #2a2626;

  /* headings */
  --heading-line-height: 1.2em;

  /* container */
  --max-content-width: 1110px;
}

/* VAR END */

/* RESET START */
body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

/* RESET END */

/* COMPONENTS START */
* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: var(--heading-font), cursive;
  line-height: var(--heading-line-height);
}

h1 {
  font-size: 72px;
}

h2 {
  color: var(--primary);
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.container {
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: 100px 0;
}

.bg-image {
  position: relative;
  z-index: -2;
  width: 100%;
  overflow: hidden;
}

.bg-image.dark {
  background-color: var(--brown);
}

.bg-image::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: url("../img/background.png");
}

.two-blocks {
  display: flex;
  gap: 30px;
  width: 100%;
}

.text-content {
  color: var(--font-color);
  font-weight: 400;
  font-size: var(--font-size);
  font-family: var(--main-font), sans-serif;
  line-height: var(--font-line-height);
}

.header-minor {
  width: 100%;
  margin: 100px 0 20px;
  padding: 5px 10px;
  font-weight: 700;
  font-size: 14px;
  font-family: var(--main-font);
  line-height: 17px;
  text-transform: uppercase;
}

.header-minor.dark {
  color: var(--white);
  background-color: var(--brown);
}

.header-minor.light {
  color: var(--brown);
  background-color: var(--white);
}

/* COMPONENTS END */

/* HEADER START */
.section-header {
  position: relative;
}

.header-title {
  color: var(--primary);
}

.header-title-subtitle {
  margin-top: 7px;
  color: var(--dark);
}

.header-image {
  position: absolute;
  top: 55px;
  right: -270px;
  z-index: -1;
  height: 525px;
}

.header-article {
  margin-top: 185px;
}

.header-paragraph {
  width: 540px;
  max-width: 100%;
}

.header-btn {
  padding: 12px 24px;
  color: var(--white);
  font-weight: 700;
  font-size: var(--font-size);
  font-family: var(--main-font);
  font-style: normal;
  line-height: var(--font-line-height);
  text-transform: uppercase;
  background-color: var(--primary);
}

/* HEADER END */

/* SECTION VIDEO START */
.section-video {
  height: 914px;
  background-color: var(--white);
}

.video-header {
  color: var(--dark);
  text-align: center;
}

.video-header-subtitle {
  margin-bottom: 27px;
  color: var(--primary);
}

.video-header-text {
  margin-bottom: 30px;
  text-align: center;
}

.video-shadow {
  display: flex;
  justify-content: center;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

/* SECTION VIDEO END */

/* SECTION NAV START */
.section-nav {
  margin-top: -100px;
  background-color: var(--primary-dark);
}

.nav-menu {
  display: grid;
  grid-gap: 20px 30px;
  grid-template-rows: 323px 348px;
  grid-template-columns: repeat(3, 350px);
  width: 100%;
  height: 740px;
  margin-top: 116px;
  padding: 0;
  list-style: none;
}

.nav-menu-item {
  max-width: 100%;
  background-color: var(--light);
}

.nav-menu-item a {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.nav-menu-title {
  color: var(--primary);
  font-weight: 400;
  font-size: 52px;
  font-family: var(--heading-font);
  font-style: normal;
  line-height: var(--heading-line-height);
  background-color: inherit;
}

.item-num {
  margin-bottom: 40px;
  color: var(--primary-dark);
  font-size: 64px;
  font-family: var(--heading-font);
  line-height: 1;
}

.item-header {
  margin-bottom: 16px;
  color: var(--primary);
  font-weight: 400;
}

/* SECTION NAV END */

/* SECTION TYPICAL CONTENT BIASE START */
.bias-title {
  margin-bottom: 30px;
}

.bias-title.light {
  color: var(--dark);
}

.bias-title.dark {
  color: var(--white);
}

.bias-subtitle {
  color: var(--dark);
  font-weight: 400;
  font-size: 34px;
  font-family: var(--heading-font);
  line-height: 1.2em;
}

.bias-header::before {
  color: var(--secondary);
  font-weight: 400;
  font-size: 24px;
  font-family: var(--heading-font);
  line-height: 29px;
  content: "Когнитивные искажения";
}

.bias-header.light::before {
  color: var(--transparent-white);
}

.bias-img {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.bias-text {
  width: 540px;
}

/* SECTION TYPICAL CONTENT END */

/* FOOTER START */
.footer-contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 55px;
  background-color: var(--primary-dark);
}

.contacts-form {
  display: flex;
  flex-direction: column;
}

.contacts-controller {
  display: grid;
  grid-template-columns: 423px 70px;
}

.contacts-input {
  height: 50px;
  padding: 15px;
}

.contacts-input::placeholder {
  color: #757575;
  font-weight: 400;
  font-size: 13px;
  font-family: var(--main-font);
  line-height: var(--font-line-height);
  opacity: 0.2;
}

.contacts-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background: var(--primary);
  border: 0;
  cursor: pointer;
}

.contacts-btn:hover {
  background: var(--secondary);
}

.contacts-btn:active {
  opacity: 0.7;
}

.contacts-btn::before {
  content: url("../img/icons/send.svg");
}

.contact-label {
  margin-bottom: 9px;
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  font-family: var(--main-font);
  line-height: var(--font-line-height);
}

.contacts-helper {
  color: var(--white);
  font-weight: 400;
  font-size: 12px;
  font-family: var(--main-font);
  line-height: var(--font-line-height);
}

.contacts-helper a {
  color: inherit;
  text-decoration: underline;
}

.authors {
  margin-top: 60px;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  font-family: var(--main-font);
  line-height: var(--font-line-height);
  text-align: center;
}

.authors a {
  color: rgba(0 125 193 / 100%);
  text-decoration: underline;
}

.authors p {
  margin-bottom: 16px;
}

/* FOOTER END */

/* COMMON START */

.mb-12 {
  margin-bottom: 12px;
}

.mb-40 {
  margin-bottom: 40px;
}

.color-white {
  color: var(--white);
}

.light {
  color: var(--white);
}

/* COMMON END */
